
{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
  .mention-textarea {
    font-family: 'Arial';
    color: rgb(20, 95, 245);
    font-weight: bold;
  }
  @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.greeting {
  animation: fadeIn 1s ease-in-out;
}

.main-content {
  animation: fadeIn 1s ease-in-out;
}

.table-header {
    font-weight: bold;
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark gray text color */
}
</style>
    <div class="wrapper">
        

        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        {% for fu in filtered_user %}
                        <h1 class="greeting">Hello {{fu}} ✌</h1>
                        {% endfor %}
                        <h2 class="mb-2 page-title">Users table</h2>
                        <p class="card-text">
                            <button type="button" class="btn mb-2 btn-outline-success btn-lg" data-toggle="modal"
                                data-target=".bd-example-modal-lg">Add New User</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userModalLabel">Add New User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="user-form" data-url="{% url 'check_username' %}" method="post"
                                action="{% url 'save_user' %}">
                                {% csrf_token %}
                                <div class="mx-auto text-center">
                                    <h2 class="m-3">Add New User</h2>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <!-- <label for="Username">Username</label> -->
                                        <input type="Username" name="Username" id="Username" class="form-control"
                                            placeholder="User Name" required autocomplete="off">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <!-- <label for="Email">Email</label> -->
                                        <input type="email" name="Email" id="Email" class="form-control"
                                            placeholder="Email" required autocomplete="off">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <!-- <label for="firstname">Firstname</label> -->
                                        <input type="text" name="firstname" id="firstname" class="form-control"
                                            placeholder="First Name" required autocomplete="off">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <!-- <label for="lastname">Lastname</label> -->
                                        <input type="text" name="lastname" id="lastname" class="form-control"
                                            placeholder="Last Name" required autocomplete="off">
                                    </div>
                                    <!--  -->
                                    <div class="form-group col-md-12">
                                        <div class="row">
                                            <label class="col-md-2 pt-0">User Profiles</label>
                                            <div class="col-md-10">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="user_type"
                                                        id="user_type_advisor" value="Advisor" required>
                                                    <label class="form-check-label"
                                                        for="user_type_advisor">Advisor</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="user_type"
                                                        id="user_type_sales" value="Sales" required>
                                                    <label class="form-check-label" for="user_type_sales">Sales</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="user_type"
                                                        id="user_type_admin" value="Admin" required>
                                                    <label class="form-check-label" for="user_type_admin">Admin</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group col-md-6">
                                        <!-- <label for="password">New Password</label> -->
                                        <input type="password" name="password" class="form-control" id="password"
                                            placeholder="Password" required>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <!-- <label for="confirm_password">Confirm Password</label> -->
                                        <input type="password" name="confirm_password" class="form-control"
                                            id="confirm_password" placeholder="Confirm Password" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn mb-2 btn-secondary"
                                        data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn mb-2 btn-success">Add New User</button>
                                </div>
                                <!-- <p class="mt-5 mb-3 text-muted text-center">© 2020</p> -->
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <script>
                function sendEmail(userId) {
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', '/base/sendemail/?user_id=' + userId, true);
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                            alert("Email has been sent!");
                        }
                    };
                    xhr.send();
                }

                function deleteUser(userId) {
                    // Create an AJAX request to the `delete-user` URL
                    var xhr = new XMLHttpRequest();
                    var id = document.getElementById('delete-user-' + userId).getAttribute('data-url');
                    var csrfToken = document.getElementById('csrfmiddlewaretoken').value;
                    xhr.open('POST', id, true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.setRequestHeader('X-CSRFToken', csrfToken);
                    // Send the request
                    xhr.send();
                    // Handle the response
                    xhr.onload = function() {
                        if (xhr.status === 200) {
                            // The user was deleted successfully
                            var data = JSON.parse(xhr.responseText);
                            Swal.fire(
                                'Success!',
                                'User deleted successfully!',
                                'success'
                            ).then(function() {
                                window.location.reload();
                            });
                        } else {
                            // An error occurred
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'An error occurred!...',
                            });
                        }
                    };
                }
            </script>
           <div class="row my-4">
    <!-- Small table -->
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <!-- Table -->
                <table class="table datatables" id="dataTable-1">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="table-header">Sl No.</th>
                            <th class="table-header">First Name</th>
                            <th class="table-header">Last Name</th>
                            <th class="table-header">User Name</th>
                            <th class="table-header">Email</th>
                            <th class="table-header">Address</th>
                            <th class="table-header">Date Joined</th>
                            <th class="table-header">Action</th>
                        </tr>
                    </thead>
                                <tbody class="table-bordered">
                                    {% for vau in view_all_users %}
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" />
                                                <label class="custom-control-label"></label>
                                            </div>
                                        </td>
                                        <td>
                                            {{forloop.counter}}
                                        </td>

                                        <td>
                                            {{vau.first_name}}
                                        </td>
                                        <td>
                                            {{vau.last_name}}
                                        </td>
                                        <td>
                                            {{vau}}
                                        </td>
                                        <td>
                                            {{vau.email}}
                                        </td>
                                        <td>
                                            <!-- {{vau}} -->
                                        </td>
                                        <td>
                                            {{vau.date_joined}}
                                        </td>
                                        <td>
                                            {% comment %} <div class="dropdown">
                                                <button class="btn btn-sm dropdown-toggle" type="button" id="dr4"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="text-muted sr-only">Action</span>
                                                </button> {% endcomment %}
                                                <div class="dropdown">
                                                    <button class="btn btn-sm dropdown-toggle" type="button" id="dr4"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <span class="text-muted sr-only">Action</span>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right"
                                                        aria-labelledby="dr4">
                                                        <!-- {% comment %} <a class="dropdown-item" href="javascript:void(0)"
                                                            onclick="send_cemail('{{ vau.id }}')">Invite</a>
                                                        {% endcomment %} -->
                                                        <a class="dropdown-item" href="javascript:void(0)"
                                                            onclick="sendEmail('{{ vau.id }}')"
                                                            id="send-mail-{{ vau.id }}">Invite</a>
                                                        <a class="dropdown-item" href="javascript:void(0)"
                                                            data-toggle="modal"
                                                            data-target="#editModal-{{ vau.id }}">Edit</a>

                                                        <a class="dropdown-item" href="javascript:void(0)"
                                                        onclick="toggleUserActivation('{{ vau.id }}', {{ vau.is_active|yesno:"true,false" }}, '{% url 'toggle_user' vau.id %}')"
                                                        id="user-action-{{ vau.id }}"
                                                        data-url="{% if vau.is_active %}{% url 'deactivate-user' vau.id %}{% else %}{% url 'activate-user' vau.id %}{% endif %}">
                                                        {% if vau.is_active %}Deactivate{% else %}Activate{% endif %}
                                                    </a>
                                                    <script>
                                                        function toggleUserActivation(userId, isActive, url) {
                                                            // Send the AJAX request to activate or deactivate the user
                                                            fetch(url, {
                                                                    method: 'POST',
                                                                    headers: {
                                                                        'X-CSRFToken': getCookie(
                                                                        'csrftoken'), // Replace 'csrftoken' with your CSRF token cookie name
                                                                    }
                                                                })
                                                                .then(response => response.json())
                                                                .then(data => {
                                                                    if (data.success) {
                                                                        // Update the button text and status based on the response
                                                                        const button = document.querySelector(
                                                                            `a[onclick="toggleUserActivation('${userId}', ${isActive}, '${url}')"]`
                                                                            );
                                                                        isActive = data
                                                                        .is_active; // Update the isActive status based on the response
                                                                        if (isActive) {
                                                                            button.textContent = 'Deactivate';
                                                                        } else {
                                                                            button.textContent = 'Activate';
                                                                        }
                                                                        console.log(
                                                                            'User status toggled successfully');
                                                                        // Refresh the page after 2 seconds to reflect the updated status
                                                                        setTimeout(() => {
                                                                            window.location.reload();
                                                                        }, 100);
                                                                    } else {
                                                                        console.error(
                                                                            'Failed to toggle user status');
                                                                    }
                                                                })
                                                                .catch(error => {
                                                                    console.error(
                                                                        'Error during user status toggle:',
                                                                        error);
                                                                });
                                                        }
                                                        // Function to get the CSRF token cookie value
                                                        function getCookie(name) {
                                                            const value = `; ${document.cookie}`;
                                                            const parts = value.split(`; ${name}=`);
                                                            if (parts.length === 2) return parts.pop().split(';')
                                                            .shift();
                                                        }
                                                    </script>



                                                    </div>
                                                </div>

                                                {% comment %} <script>
                                                    function sendemail(userId) {
                                                        var xhr = new XMLHttpRequest();
                                                        xhr.open('GET', 'sendemail/?user_id=' + userId, true);
                                                        xhr.onreadystatechange = function() {
                                                            if (xhr.readyState === XMLHttpRequest.DONE && xhr
                                                                .status === 200) {
                                                                alert("Email has been sent!");
                                                            }
                                                        };
                                                        xhr.send();
                                                    }
                                                </script> {% endcomment %}

                                                <!-- Edit User Modal -->
                                                <div class="modal fade" id="editModal-{{ vau.id }}" tabindex="-1"
                                                    role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editModalLabel">Edit User
                                                                </h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="editForm-{{ vau.id }}" method="post"
                                                                    action="{% url 'edit-user' vau.id %}">
                                                                    {% csrf_token %}
                                                                    <!-- Add form fields for user data editing -->
                                                                    <div class="form-row">
                                                                        <div class="form-group col-md-6">
                                                                            <input type="text" name="Username"
                                                                                id="Username" class="form-control"
                                                                                placeholder="User Name"
                                                                                value="{{ vau.username }}" required
                                                                                autocomplete="off">
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <input type="email" name="Email" id="Email"
                                                                                class="form-control" placeholder="Email"
                                                                                value="{{ vau.email }}" required
                                                                                autocomplete="off">
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <input type="text" name="firstname"
                                                                                id="firstname" class="form-control"
                                                                                placeholder="First Name"
                                                                                value="{{ vau.first_name }}" required
                                                                                autocomplete="off">
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <input type="text" name="lastname"
                                                                                id="lastname" class="form-control"
                                                                                placeholder="Last Name"
                                                                                value="{{ vau.last_name }}" required
                                                                                autocomplete="off">
                                                                        </div>
                                                                        <div class="form-group col-md-12">
                                                                            <div class="row">
                                                                                <label class="col-md-2 pt-0">User Profiles</label>
                                                                                <div class="col-md-10">
                                                                                    <div
                                                                                        class="form-check form-check-inline">
                                                                                        <input class="form-check-input"
                                                                                            type="radio"
                                                                                            name="user_type"
                                                                                            id="user_type_advisor"
                                                                                            value="Advisor"
                                                                                            {% if vau.is_advisor %}checked{% endif %}
                                                                                            required>
                                                                                        <label class="form-check-label"
                                                                                            for="user_type_advisor">Advisor</label>
                                                                                    </div>
                                                                                    <div
                                                                                        class="form-check form-check-inline">
                                                                                        <input class="form-check-input"
                                                                                            type="radio"
                                                                                            name="user_type"
                                                                                            id="user_type_sales"
                                                                                            value="Sales"
                                                                                            {% if vau.is_sales %}checked{% endif %}
                                                                                            required>
                                                                                        <label class="form-check-label"
                                                                                            for="user_type_sales">Sales</label>
                                                                                    </div>
                                                                                    <div
                                                                                        class="form-check form-check-inline">
                                                                                        <input class="form-check-input"
                                                                                            type="radio"
                                                                                            name="user_type"
                                                                                            id="user_type_admin"
                                                                                            value="Admin"
                                                                                            {% if vau.is_admin %}checked{% endif %}
                                                                                            required>
                                                                                        <label class="form-check-label"
                                                                                            for="user_type_admin">Admin</label>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <input type="password" name="password"
                                                                                class="form-control" id="password"
                                                                                placeholder="Password" required>
                                                                        </div>
                                                                        <div class="form-group col-md-6">
                                                                            <input type="password"
                                                                                name="confirm_password"
                                                                                class="form-control"
                                                                                id="confirm_password"
                                                                                placeholder="Confirm Password" required>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary"
                                                                    onclick="updateUser('{{ vau.id }}')">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <script>
                                                    function updateUser(userId) {
                                                        var form = document.getElementById('editForm-' + userId);
                                                        var formData = new FormData(form);
                                                        var xhr = new XMLHttpRequest();
                                                        xhr.open('POST', form.action, true);
                                                        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                                                        xhr.onreadystatechange = function() {
                                                            if (xhr.readyState === 4 && xhr.status === 200) {
                                                                var response = JSON.parse(xhr.responseText);
                                                                if (response.success) {
                                                                    // Perform any other desired actions
                                                                    $('#editModal-' + userId).modal('hide');
                                                                    alert('User data updated successfully!');
                                                                    location.reload(); // Reload the page
                                                                }
                                                            }
                                                        };
                                                        xhr.send(formData);
                                                    }
                                                </script>

                                        </td>
                                    </tr>

                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--	simple	table	-->
            </div>
            <!--	end	section	-->
    </div>
    <!--	.col-12	-->

    <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <!--	.container-fluid	-->
    <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">
                        Notifications
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               
                    <!--	/	.list-group	-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">
                        Clear All
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    </div>
    </div>
    </div>
    </div>

</main>

{% endblock %}
<!-- and add user script -->
{% block javascript %}
<!-- Include Bootstrap and jQuery dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
$(document).ready(function() {
    $("#user-form").validate({
        rules: {
            Username: {
                required: true,
                remote: {
                    url: $("#user-form").data("url"),
                    type: 'POST',
                    data: {
                        Username: function() {
                            return $("#Username").val();
                        }
                    }
                }
            },
            password: {
                required: true,
                minlength: 5
            },
            confirm_password: {
                required: true,
                equalTo: "#password"
            },
            user_type: {
                required: true
            }
        },
        messages: {
            Username: {
                required: "Please enter a username",
                remote: "Username already exists"
            },
            password: {
                required: "Please fill the empty box",
                minlength: "Your password must be at least 5 characters long"
            },
            confirm_password: {
                required: "Please fill the empty box",
                equalTo: "Passwords do not match"
            },
            user_type: {
                required: "Please select a profile"
            }
        },
        errorPlacement: function(error, element) {
            error.addClass("invalid-feedback");
            element.closest(".form-group").append(error);
        },
        highlight: function(element, errorClass, validClass) {
            $(element).addClass("is-invalid").removeClass("is-valid");
        },
        unhighlight: function(element, errorClass, validClass) {
            $(element).removeClass("is-invalid").addClass("is-valid");
        },
        submitHandler: function(form) {
            Swal.fire({
                title: 'Good job!',
                text: 'User Registered!!!',
                icon: 'success'
            }).then(function() {
                form.submit();
            });
        }
    });
});
</script>
{% endblock %}


