{% load static %}
<!doctype html>
<html lang="en">

<head>

  <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>


<style>
    .btn-primary {
        position: relative;
        overflow: hidden;
        transition: transform 0.3s ease;
    }

    .btn-primary:hover {
        transform: scale(1.1);
    }
</style>
  <link rel="stylesheet" href="{%static 'css/feather.css' %}">
  <!-- Date Range Picker CSS -->
  <link rel="stylesheet" href="{%static 'css/daterangepicker.css' %}">
  <!-- App CSS -->


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>base</title>

  <!-- Simple bar CSS -->
  <link rel="stylesheet" href="{%static 'css/simplebar.css'%}">
  <!-- Fonts CSS -->
  <link
    href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <!-- Icons CSS -->


  <!-- App CSS -->
  <link rel="stylesheet" href="{%static 'css/app-light.css'%}" id="lightTheme">
  <link rel="stylesheet" href="{%static 'css/app-dark.css'%}" id="darkTheme" disabled>

<!-- data table new -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">  
<!--and data table new -->
</head>

<body class="vertical  light  ">
  <div class="wrapper">
    <nav class="topnav navbar navbar-light">
      <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
        <i class="fe fe-menu navbar-toggler-icon"></i>
      </button>
      <form class="form-inline mr-auto searchform text-muted">
        <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search"
          placeholder="Type something..." aria-label="Search">
      </form>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
            <i class="fe fe-sun fe-16"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">
            <span class="fe fe-grid fe-16"></span>
          </a>
        </li>
        <li class="nav-item nav-notif">
          <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" onclick="fetchNotifications()" data-target="#notificationModal">
            <span class="fe fe-bell fe-16"></span>
            <span class="dot dot-md bg-success"></span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="avatar avatar-sm mt-2">
              <img src="{%static './assets/avatars/face-1.jpg'%}" alt="..." class="avatar-img rounded-circle">
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
            
            <a class="dropdown-item" href="{% url 'sales_dashboard' %}">Dashboard</a>
            <a class="dropdown-item" href="{% url 'profile_settings' %}">Settings</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
    <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
      <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
        <i class="fe fe-x"><span class="sr-only"></span></i>
      </a>
      <nav class="vertnav navbar navbar-light">
        <!-- nav bar -->
        <div class="w-100 mb-4 d-flex">
          <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="{% url 'sales_dashboard' %}">
            <svg version="1.1" id="logo" class="navbar-brand-img brand-sm" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
              <g>
                <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
              </g>
            </svg>
          </a>
        </div>
        <ul class="navbar-nav flex-fill w-100 mb-2">
          <li class="nav-item dropdown">
            <a href="#dashboard" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
              <i class="fe fe-home fe-16"></i>
              <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
            </a>
            <ul class="collapse list-unstyled pl-4 w-100" id="dashboard">
              <li class="nav-item">
                <a class="nav-link pl-3" href="{% url 'sales_dashboard' %}"><span class="ml-1">Home</span></a>
              </li>
              <!-- Add more dropdown items here if needed -->
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav flex-fill w-100 mb-2">
          
          </li>

          <li class="nav-item dropdown">
            <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
              <i class="fe fe-credit-card fe-16"></i>
              <span class="ml-3 item-text">Leads</span>
            </a>
            <ul class="collapse list-unstyled pl-4 w-100" id="forms">
              <li class="nav-item">
                <a class="nav-link pl-3" href="{% url 'sales_lead' %}"><span class="ml-1 item-text"> Sales Leads</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link pl-3" href="{% url 'facebook_leads' %}"><span class="ml-1 item-text">Facebook
                    leads</span></a>
              </li>
           


            </ul>
          </li>
          <li class="nav-item dropdown">
            <a href="#profile" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
              <i class="fe fe-user fe-16"></i>
              <span class="ml-3 item-text">Profile</span>
            </a>
            <ul class="collapse list-unstyled pl-4 w-100" id="profile">
             
                <a class="nav-link pl-3" href="{% url 'profile_settings' %}"><span class="ml-1">Settings</span></a>
              </li>

            </ul>

          </li>
               <li class="nav-item dropdown">
            <a href="#notification" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
              <i class="fe fe-info fe-16"></i>
              <span class="ml-3 item-text">Notifications</span>
            </a>
            <ul class="collapse list-unstyled pl-4 w-100" id="notification">
             
                <a class="nav-link pl-3" href="{% url 'view_notifications' %}"><span class="ml-1">Notification</span></a>
              </li>

            </ul>
          </li>
        </ul>
        <div class="btn-box w-100 mt-4 mb-1">
    <a href="{% url 'logout' %}" class="btn mb-2 btn-primary btn-lg btn-block">
        <i class="fe fe-log-out fe-12 mx-2"></i><span class="small">Logout</span>
    </a>
</div>
        
      
      </nav>
    </aside>
    {% block content %}

    {% endblock %}
  </div> <!-- .wrapper -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="{%static 'js/jquery.min.js'%}"></script>
  <script src="{%static 'js/popper.min.js'%}"></script>
  <script src="{%static 'js/moment.min.js'%}"></script>
  <script src="{%static 'js/bootstrap.min.js'%}"></script>
  <script src="{%static 'js/simplebar.min.js'%}"></script>
  <script src="{%static 'js/daterangepicker.js'%}"></script>
  <script src="{%static 'js/jquery.stickOnScroll.js'%}"></script>
  <script src="{%static 'js/tinycolor-min.js'%}"></script>
  <script src="{%static 'js/config.js'%}"></script>
  <script src="{%static 'js/apps.js'%}"></script>
  

  <!-- datatable script -->
  {% block javascript %}

  {% endblock %}
  <!-- and datatable script -->
</body>

<!-- Add this in your base.html template -->
<div class="modal fade modal-notif modal-slide" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
  <!-- Your modal content here, but replace the notifications list with the following -->
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="height: 100%; background:white">
      <div class="modal-header">
        <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>&nbsp;&nbsp;
        <span class="badge badge-pill badge-info" id="unreadNotificationCount">0</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y: auto;">
        <div class="list-group list-group-flush my-n3" id="notificationList">
          <!-- Dynamic notifications will be added here -->
          <div class="list-group-item">Loading notifications...</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-block" onclick="clearAllNotifications()" data-dismiss="modal">Clear All</button>
      </div>
    </div>
  </div>
  <!-- Rest of your modal content -->
</div>

  <style>
    .read {
      text-decoration: line-through;
    }

  </style>
  <!-- Add the following script at the end of your base.html template -->
  <script>
    function fetchNotifications() {
      $.ajax({
        url: '{% url "get_notifications" %}',
        dataType: 'json',
        success: function(data) {
          var unreadNotificationCount = $('#unreadNotificationCount'); // Reference to the badge
          var notificationList = $('#notificationList');
          notificationList.empty(); // Clear existing notifications
          unreadNotificationCount.text(0);
    
          if (data.length === 0) {
            notificationList.append('<div class="list-group-item">No new notifications</div>');
          } else {
            var totalCount = 0;
            var customNotification = '';
            var groupCount = 0;
            var currentHour = null;
    
            data.forEach(function(notification) {
              console.log(data)
              // Calculate time ago
              var notificationTime = new Date(notification.timestamp);
              var currentTime = new Date();
              var timeDiff = Math.floor((currentTime - notificationTime) / 1000); // Time difference in seconds
    
              var formattedTimestamp = notificationTime.toLocaleString();
    
              // Function to format time ago
              function formatTimeAgo(timeDiff) {
                if (timeDiff < 60) {
                  return timeDiff + 's ago';
                } else if (timeDiff < 3600) {
                  return Math.floor(timeDiff / 60) + 'm ago';
                } else if (timeDiff < 86400) {
                  return Math.floor(timeDiff / 3600) + 'h ago';
                } else {
                  return Math.floor(timeDiff / 86400) + 'd ago';
                }
              }
    
              var notificationHour = notificationTime.getHours();
              if (currentHour === null || notificationHour === currentHour) {
                if (notification.is_read) {
                  groupCount += 1;
                }
              } 
              
              /* else {
                if (groupCount > 0) {
                  viewAllLink = '<a href="{% url "all_notifications" %}" class="view-all-link">View all notifications</a>';
                  // Display the custom notification for the previous hour group
                  customNotification = '<div class="list-group-item bg-transparent">' +
                    '<div class="row align-items-center">' +
                    '<div class="col">' +
                    '<small><strong>' + groupCount + ' notifications received in the last hour</strong></small><br/>' +
                    viewAllLink +
                    '</div>' +
                    '</div>' +
                    '</div>';
                  notificationList.append(customNotification);
    
                  groupCount = 1;
                }
              } */
    
              var itemHtml =
                '<div id="notification-' + notification.id + '" class="list-group-item bg-transparent"  onclick="handleNotificationClick(' + notification.id + ', ' + notification.lead_id + ')">' +
                '<div class="row align-items-center">' +
                '<div class="col-auto">' +
                '<span class="fe fe-bell fe-24"></span>' +
                '</div>' +
                '<div class="col">' +
                '<small class="' + (notification.is_read ? 'read' : 'unread') + '"><strong>' + notification.message + '</strong></small>' +
                '<div class="my-0 text-muted small">' + formattedTimestamp + '</div>' +
                '<div class="my-0 text-muted small">' + formatTimeAgo(timeDiff) + '</div>' +
                '</div>' +
                '<div class="col-auto">' +
                '<span class="fe fe-x-circle fe-16 text-primary cursor-pointer" onclick="markNotificationRead(' + notification.id + ')"></span>' +
                '</div>' +
                '</div>' +
                '</div>';
    
              notificationList.append(itemHtml);
              if (notification.is_read) {
                totalCount += 1;
              }
              
              currentHour = notificationHour;
            });
            
            if (groupCount > 0) {
              viewAllLink = '<a href="{% url "view_notifications" %}" class="view-all-link">View all notifications</a>';
              // Display the custom notification for the last hour group
              customNotification = '<div class="list-group-item bg-transparent">' +
                '<div class="row align-items-center">' +
                '<div class="col">' +
                '<small><strong>' + groupCount + ' notifications received in the last hour</strong></small><br>' +
                viewAllLink +
                '</div>' +
                '</div>' +
                '</div>';
              notificationList.append(customNotification);
            }
    
            unreadNotificationCount.text(totalCount);
          }
        },
        error: function() {
          console.error('Failed to fetch notifications.');
        }
      });
    }

    function handleNotificationClick(notificationId, leadId) {
      // Mark the notification as read via AJAX
      markNotificationRead(notificationId);
      // Open the lead edit modal
      openLeadModal(leadId);
    }

function openLeadModal(leadId) {
  // Open the lead edit modal
  var currentUrl = window.location.href;
  if (currentUrl.includes("sales_lead")) {
    // Check if the leadId is provided
    if (leadId) {
      // Trigger the modal to open based on the provided leadId
      $('#editModal-' + leadId).modal('show');
    }
  } else {
    // Redirect to sales_lead and include the openModal parameter
    window.location.href = '/lead/sales_lead/?openModal=' + leadId;
  }
}

// Check if the openModal parameter exists in the URL
var urlParams = new URLSearchParams(window.location.search);
var openModalLeadId = urlParams.get('openModal');

$(document).ready(function () {
  if (openModalLeadId) {
    // Use the leadId from the parameter to open the corresponding modal
    $('#editModal-' + openModalLeadId).modal('show');
  }
});

    function markNotificationRead(notificationId) {
      $.ajax({
        url: '{% url "mark_notification_read" %}',
        type: 'POST',
        data: {
          notification_id: notificationId,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function(response) {
          if (response.success) {
            $('.close').click(); 
          }
        },
        error: function() {
          console.error('Failed to mark notification as read.');
        }
      });
    }
  
    function clearAllNotifications() {
      // Make an AJAX call to mark all notifications as read
      $.ajax({
        url: '{% url "clear_all_notifications" %}',
        type: 'POST',
        data: { csrfmiddlewaretoken: '{{ csrf_token }}' },
        dataType: 'json',
        success: function(response) {
          if (response.success) {
            // Notifications cleared successfully
            // Now close the notification slide
            $('#notificationModal').modal('hide');
            // Optionally, you can reload the page to refresh the notifications
            // location.reload();
          }
        },
        error: function() {
          console.error('Failed to clear all notifications.');
        }
      });
    }
    </script>


</html>