{% extends 'sales_base.html' %}
{% load static %}
{% block content %}



<main role="main" class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="mb-2 page-title">Complete leads</h2>
      {% if is_superadmin %}
<div class="mb-3">
  <label for="userFilter" class="form-label">Filter by User:</label>
  <select class="form-select" id="userFilter" onchange="filterByUser(this.value)">
    <option value="">All Users</option>
    {% for user in users %}
    <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}
  </select>
</div>
{% endif %}



         <a href="{% url 'export_leads' 'csv' %}" class="btn mb-2 btn-outline-primary">Export Leads as CSV</a>
        <a href="{% url 'export_leads' 'xlsx' %}" class="btn mb-2 btn-outline-primary">Export Leads as XLSX</a>
        <!-- Modal -->
        <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="defaultModalLabel">Add lead</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card shadow mb-4">
                  <div class="card-body">
                    <form class="needs-validation" method="POST" action="{% url 'lead_dashboard' %}" novalidate="">
                      {% csrf_token %}
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label for="date_de_soumission">Date de Soumission</label>
                          {% comment %} <input type="text" class="form-control" id="prenom" name="prenom" required>
                          {% endcomment %}
                          <input type="date" name="date_de_soumission" class="form-control" required>
                          <div class="invalid-feedback">Please provide a valid Date.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="nom_de_la_campagne">Nom de la Campagne</label>
                          {% comment %} <input type="text" class="form-control" id="nom" name="nom" required>
                          {% endcomment %}
                          <input type="text" name="nom_de_la_campagne" class="form-control" maxlength="100" required>
                          <div class="invalid-feedback">Please provide a valid nom.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="avez_vous_travaille">Avez-vous travaillé</label>
                          <input type="text" name="avez_vous_travaille" class="form-control" maxlength="100" required>
                          <div class="invalid-feedback">Please provide a valid email.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="nom_prenom">Nom & Prenom</label>
                          <input type="text" name="nom_prenom" class="form-control" maxlength="100" required>
                          <div class="invalid-feedback">Please provide a valid telephone number.</div>
                        </div>
                        {% comment %} <div class="col-md-6 mb-3">
                          <label for="date_de_soumission">Prénom</label>
                          <input type="text" name="prenom" class="form-control" maxlength="100" required>
                          <div class="invalid-feedback">Please provide a valid date de soumission.</div>
                        </div> {% endcomment %}
                        <div class="col-md-6 mb-3">
                          <label for="telephone">Téléphone</label>
                          <input type="text" name="telephone" class="form-control" maxlength="20" required>
                          <div class="invalid-feedback">Please provide a valid nom de la campagne.</div>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                          <label for="qualification">Qualification</label>
                          {% comment %} <select class="form-control" id="qualification" name="qualification" required>
                            {% endcomment %}
                            <select name="qualification" class="form-control" id="qualification" name="qualification"
                              required>
                              <option value="nrp1">NRP1</option>
                              <option value="nrp2">NRP2</option>
                              <option value="nrp3">NRP3</option>
                              <option value="en_cours">En cours</option>
                              <option value="rappel">Rappel</option>
                              <option value="faux_numero">Faux numéro</option>
                              <option value="pas_de_budget">Pas de budget</option>
                              <option value="pas_interesse">Pas intéressé</option>
                              <option value="ne_pas_rappele">Ne pas rappeler</option>
                              <option value="signe_pole_emploi">Signé Pôle Emploi</option>
                              <option value="signe_cpf">Signé CPF</option>
                            </select>
                            <div class="invalid-feedback">Please select a qualification.</div>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                          <label for="email">Email</label>
                          <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="comments">Comments</label>
                          <textarea name="comments" class="form-control" required></textarea>
                          <div class="invalid-feedback">Please provide a valid nom de la campagne.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="assigned_to">Assign To</label>
                          <select name="assigned_to" class="form-control">
                            <option value="">-- Select User --</option>
                            {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                          </select>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                  </div> <!-- /.card-body -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- and Modal -->
      <!-- Small table -->
      <div class="row my-2">
        <div class="col-md-12">
          <div class="card shadow">
            <div class="card-body">
              <!-- table -->
              <div class="table-responsive">
              <table class="table table-hover table-bordered datatables" id="dataTable-1">
                <thead class="fw-bold">
                  <tr>
                    <th>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="all2">
                        <label class="custom-control-label" for="all2"></label>
                      </div>
                    </th>
                    <th>Date de Soumission</th>
                    <th>Nom de la Campagne </th>
                    <th>Avez-vous travaillé</th>
                    <th>Nom & Prenom</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Qualification</th>
                    <th>Comments</th>
                    {% comment %} <th>Assign to</th> {% endcomment %}
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for lead in leads %}
                  {% if  lead.is_complete %}
                  <tr>
                    <td>
                      <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="{{ lead.id }}">
                        <label class="custom-control-label" for="{{ lead.id }}"></label>
                      </div>
                    </td>
                    {% comment %} <td>{{ forloop.counter }}</td> {% endcomment %}
                    <td>{{ lead.date_de_soumission }}</td>
                    <td>{{ lead.nom_de_la_campagne }}</td>
                    <td>{{ lead.avez_vous_travaille }}</td>
                    <td>{{ lead.nom_prenom }}</td>
                    {% comment %} <td>{{ lead.prenom }}</td> {% endcomment %}
                    <td>{{ lead.telephone }}</td>
                    <td>{{ lead.email }}</td>
                    <td>{{ lead.qualification }}</td>
                    <td>{{ lead.comments }}</td>
                    {% comment %} <td>{{ lead.assigned_to }}</td> {% endcomment %}
                    <td>
                      <button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="text-muted sr-only">Action</span>
                      </button>

                      <div class="dropdown-menu dropdown-menu-right">
                       
                        <a class="dropdown-item"
                          href="{% url 'toggle_saleslead_status' lead.id %}">{% if lead.is_active %}Not Complete{% else %}Complete{% endif %}</a>
                        
                      </div>

                    </td>

                  </tr>
                  {% endif %}
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div> <!-- simple table -->
      </div>
    </div> <!-- end section -->
  </div> <!-- .col-12 -->
  </div> <!-- .row -->
  </div> <!-- .container-fluid -->
  <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="list-group list-group-flush my-n3">
            <div class="list-group-item bg-transparent">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="fe fe-box fe-24"></span>
                </div>
                <div class="col">
                  <small><strong>Package has uploaded successfully</strong></small>
                  <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                  <small class="badge badge-pill badge-light text-muted">1m ago</small>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-transparent">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="fe fe-download fe-24"></span>
                </div>
                <div class="col">
                  <small><strong>Widgets are updated successfully</strong></small>
                  <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                  <small class="badge badge-pill badge-light text-muted">2m ago</small>
                </div>
              </div>
            </div>
            <div class="list-group-item bg-transparent">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="fe fe-inbox fe-24"></span>
                </div>
                <div class="col">
                  <small><strong>Notifications have been sent</strong></small>
                  <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                  <small class="badge badge-pill badge-light text-muted">30m ago</small>
                </div>
              </div> <!-- / .row -->
            </div>
            <div class="list-group-item bg-transparent">
              <div class="row align-items-center">
                <div class="col-auto">
                  <span class="fe fe-link fe-24"></span>
                </div>
                <div class="col">
                  <small><strong>Link was attached to the menu</strong></small>
                  <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                  <small class="badge badge-pill badge-light text-muted">1h ago</small>
                </div>
              </div>
            </div> <!-- / .row -->
          </div> <!-- / .list-group -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="defaultModalLabel">Shortcuts</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body px-5">
          <div class="row align-items-center">
            <div class="col-6 text-center">
              <div class="squircle bg-success justify-content-center">
                <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
              </div>
              <p>Control area</p>
            </div>
            <div class="col-6 text-center">
              <div class="squircle bg-primary justify-content-center">
                <i class="fe fe-activity fe-32 align-self-center text-white"></i>
              </div>
              <p>Activity</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-6 text-center">
              <div class="squircle bg-primary justify-content-center">
                <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
              </div>
              <p>Droplet</p>
            </div>
            <div class="col-6 text-center">
              <div class="squircle bg-primary justify-content-center">
                <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
              </div>
              <p>Upload</p>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-6 text-center">
              <div class="squircle bg-primary justify-content-center">
                <i class="fe fe-users fe-32 align-self-center text-white"></i>
              </div>
              <p>Users</p>
            </div>
            <div class="col-6 text-center">
              <div class="squircle bg-primary justify-content-center">
                <i class="fe fe-settings fe-32 align-self-center text-white"></i>
              </div>
              <p>Settings</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main> <!-- main -->

{% endblock %}
<script>
    function filterByUser(userId) {
  const isSuperAdmin = "{{ is_superadmin }}"; // Get the is_superadmin value from the template

  if (userId && isSuperAdmin === "True") {
    const url = window.location.href.split('?')[0];
    window.location.href = `${url}?user_id=${userId}`;
  } else {
    window.location.href = "{% url 'complete_leads' %}"; // Redirect to the complete leads page with no user_id
  }
}