<div class="card shadow">
    <div class="card-body">
      <h5 class="card-title">Lead History for {{ lead.nom_de_la_campagne }}</h5>
      </p>
      <div class='table-responsive'>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Timestamp</th>
              <th>User</th>
              <th>Previous To</th>
              <th>Assigned To</th>
              <th>Changes</th>
            </tr>
          </thead>
          <tbody>
              {% for entry in history_entries %}
              <tr>
                  <td>{{ entry.timestamp }}</td>
                  <td>{{ entry.user.username }}</td>
                  <td>{{ entry.previous_assigned_to.username }}</td>
                  <td>{{ entry.current_assigned_to.username }}</td>
                  <td>{{ entry.changes }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- Bordered table -->