{% extends 'base.html' %}

{% block content %}
  <h1>Lead List</h1>
  <table>
    <thead>
      <tr>
        <th>Date de Soumission</th>
        <th>Nom de la Campagne</th>
        <th>Avez-vous travaillé</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Qualification</th>
        <th>Comments</th>
        <th>Assigned To</th>
      </tr>
    </thead>
    <tbody>
      {% for lead in leads %}
        <tr>
          <td>{{ lead.date_de_soumission }}</td>
          <td>{{ lead.nom_de_la_campagne }}</td>
          <td>{{ lead.avez_vous_travaille }}</td>
          <td>{{ lead.nom }}</td>
          <td>{{ lead.prenom }}</td>
          <td>{{ lead.telephone }}</td>
          <td>{{ lead.email }}</td>
          <td>{{ lead.qualification }}</td>
          <td>{{ lead.comments }}</td>
          <td>{{ lead.assigned_to.username }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
